:host {
  .logo {
    height: 32px;
  }

  .router-outlet-wrapper {
    position: absolute;
    width: 100%;
    height: calc(100% - 56px);
    top: 56px;
  }

  &.verify-email {
    .router-outlet-wrapper {
      height: calc(100% - 112px);
      top: 112px;
    }
  }

  &.small-layout {
    .router-outlet-wrapper {
      height: calc(100% - 56px);
      top: 56px;
    }
  }

  &.small-layout.verify-email {
    .router-outlet-wrapper {
      height: calc(100% - 112px);
      top: 112px;
    }
  }

  &.large-layout {
    .router-outlet-wrapper {
      height: calc(100% - 64px);
      top: 64px;
    }
  }

  &.large-layout.verify-email {
    .router-outlet-wrapper {
      height: calc(100% - 128px);
      top: 128px;
    }
  }
}

.verify-email-toolbar {
  justify-content: center;
}

.page-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.top-nav-wrapper {
  position: absolute;
  width: 100%;
}

mat-sidenav {
  mat-nav-list {
    a {
      margin-right: 1rem;
    }
  }
}

mat-sidenav-content {
  .fading-image {
    will-change: opacity;
    opacity: 0;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  mat-toolbar {
    h1 {
      margin-left: 1rem;
    }
  }
}

.filler {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
