<mat-sidenav-container class="page-container">
  <mat-sidenav role="navigation" #sideNav>
    <mat-toolbar color="primary" class="mat-elevation-z8">NG</mat-toolbar>

    <mat-nav-list>
      <mat-list-item *ngFor="let navItem of navItems">
        <a matLine [routerLink]="navItem.route">{{navItem.text}}</a>
        <mat-icon *ngIf="navItem.icon">{{navItem.icon}}</mat-icon>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content role="main">

    <div class="fading-image" #fadingImageOne [@fadingImageOne]="fadingImageState"></div>
    <div class="fading-image" #fadingImageTwo [@fadingImageTwo]="fadingImageState"></div>

    <div class="top-nav-wrapper">
      <mat-toolbar color="primary">
        <img src="../../../../../assets/logo-inverse.png" alt="Logo" class="logo">
        <h1>Name Generator</h1>

        <span class="filler"></span>
        <button mat-icon-button (click)="onSettingsClick($event)">
          <mat-icon aria-label="Settings">settings</mat-icon>
        </button>
      </mat-toolbar>
    </div>
    <div class="mat-elevation-z24 router-outlet-wrapper">
      <router-outlet></router-outlet>
    </div>




  </mat-sidenav-content>
</mat-sidenav-container>
