service cloud.firestore {
  function isSignedIn() {
    return request.auth != null;
  }

  function hasRole(roles) {
    return false;
  }

  function emailVerified() {
    return request.auth.token.email_verified;
  }

  function existingData() {
    return resource.data;
  }

  function incomingData() {
    return request.resource.data;
  }

  function isDocumentOwner() {
    return 'owner' in existingData().keys() && request.auth.uid == existingData().owner;
  }

  match /databases/{database}/documents {
    match /user-profiles/{userId} {


      function isEditingOwnRoles() {
				return isDocumentOwner() && incomingData().keys().hasAll(['roles']);
      }

      allow get: if isDocumentOwner() || hasRole(['admin']);
      allow list: if hasRole(['admin']);

      allow create: if ((isDocumentOwner() || hasRole(['admin'])) && !isEditingOwnRoles());
      allow update: if ((isDocumentOwner() || hasRole(['admin'])) && !isEditingOwnRoles());
      allow delete: if (isDocumentOwner() || hasRole(['admin']));
    }
  }
}
