service cloud.firestore {
  function isSignedIn() {
    return request.auth != null;
  }

  function hasRole(roles) {
    return false;
  }

  function emailVerified() {
    return request.auth.token.email_verified;
  }

  function existingData() {
    return resource.data;
  }

  function incomingData() {
    return request.resource.data;
  }

  match /databases/{database}/documents {
    match /users/{userId} {
      function isOwner() {
        return request.auth.uid == userId;
      }

      function isEditingOwnRoles() {
				return isOwner() && incomingData().keys().hasAll(['roles']);
      }

      allow get: if isOwner() || hasRole(['admin']);
      allow list: if hasRole(['admin']);

      allow create: if ((isOwner() || hasRole(['admin'])) && !isEditingOwnRoles());
      allow update: if ((isOwner() || hasRole(['admin'])) && !isEditingOwnRoles());
      allow delete: if (isOwner() || hasRole(['admin']));
    }
  }
}
