service cloud.firestore {
  function isSignedIn() {
    return request.auth != null;
  }

  function isOwner(userId) {
    return request.auth.uid == userId;
  }

  function hasRole(roles) {
    return false;
  }

  function emailVerified() {
    return request.auth.token.email_verified;
  }

  function existingData() {
    return resource.data;
  }

  function incomingData() {
    return request.resource.data;
  }

  match /databases/{database}/documents {
    match /users/{userId} {
      allow get: if isOwner(userId) || hasRole(['admin']);
      allow list: if hasRole(['admin']);

      allow create: if isOwner(userId) || hasRole(['admin']);
      allow update: if (isOwner(userId) && emailVerified()) || hasRole(['admin']);
      allow delete: if (isOwner(userId) && emailVerified()) || hasRole(['admin']);

      match /roles {
        allow read: if isOwner(userId) || hasRole(['admin']);
        allow write: if hasRole(['admin']);
      }
    }
  }
}
