mat-form-field {
  width: 100%;
}

mat-dialog-actions {
  padding: 1rem 0;
}


mat-radio-group {
  padding-top: 1rem;
  display: inline-flex;
  flex-direction: column;
}

mat-radio-button {
  margin: 5px;
}
