<form [formGroup]="settingsForm" novalidate>
  <h2 mat-dialog-title>Settings</h2>
  <mat-dialog-content>
    <mat-form-field>
      <mat-select placeholder="Mode" [formControl]="mode">
        <mat-option value="normal">Normal</mat-option>
        <mat-option value="separated">Use separator</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Separator" formControlName="separator">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Prefix" formControlName="prefix">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Suffix" formControlName="suffix">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onSaveClick($event)">Save</button>
    <button mat-raised-button (click)="onCancelClick($event)">Cancel</button>
  </mat-dialog-actions>
</form>


