:host {
  display: block;
  height: 100%;

  .tab-content {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

:host.small-layout {
  .tab-content {
    padding: 0 1rem;
  }
}

:host.large-layout {
  .tab-content {
    padding: 0 10rem;
  }
}

mat-tab-group {
  height: 100%;
}
