<mat-tab-group color="accent" backgroundColor="primary">
  <mat-tab label="Silly ID's">
    <div class="tab-content">
      <app-silly-ids></app-silly-ids>
    </div>
  </mat-tab>

  <mat-tab label="Dragon Names">
    <div class="tab-content">
      <app-dragon-names></app-dragon-names>
    </div>
  </mat-tab>

  <mat-tab label="Dog Names">
    <div class="tab-content">
      <app-dog-names></app-dog-names>
    </div>
  </mat-tab>

  <mat-tab label="Cat Names">
    <div class="tab-content">
      <app-cat-names></app-cat-names>
    </div>
  </mat-tab>
</mat-tab-group>
