<form [formGroup]="profileForm" novalidate (submit)="onSave()">
  <mat-card role="form">
    <mat-card-title>Profile</mat-card-title>
    <mat-card-content>

      <mat-form-field>
        <input type="text" placeholder="Display Name" formControlName="displayName" matInput>
      </mat-form-field>

      <mat-form-field>
        <input type="text" placeholder="First Name" formControlName="firstName" matInput>
      </mat-form-field>

      <mat-form-field>
        <input type="text" placeholder="Last Name" formControlName="lastName" matInput>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button type="submit" color="primary" [disabled]="!profileForm.valid" mat-button>Save</button>
    </mat-card-actions>
  </mat-card>
</form>
